<header class="d-flex justify-content-between p-3 bg-black">
  <section class="logo_music">
    <i class="fa-solid fa-circle-play"></i><strong> Music</strong>
  </section>
  <nav class="nav">
    <ul class="d-flex gap-5 align-items-center">
      <a
        [routerLink]="['']"
        routerLinkActive="text-white"
      >Principal</a>
      <a href="#">Explorar</a>
      <a href="#">Biblioteca</a>
      <a href="#">Actualizar</a>
      <a href="#" class="d-flex align-items-center gap-3">
        <i class="fa-solid fa-magnifying-glass"></i>Buscar</a>
    </ul>
  </nav>
  <section class="shared d-flex align-items-center gap-2">
    <i class="fa-solid fa-share"></i><strong>R</strong>
  </section>
</header>
